.parent {
	display: flex;
	width: 90%;
	margin: 50px auto;
}
.child {
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid green;
}

@media (max-width: 768px) {
	.parent {
		display: flex;
        flex-direction: column;
        flex-wrap: wrap;
		flex-basis: max-content;
	}
	.child {
		margin-bottom: 10px;
	}
}
